doctype 5
html
    head
         title #{title} - TOTAL RECALL
        link(rel='stylesheet', href='/stylesheets/stylesheet.css')
        link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.css')

   
    header
      h1 TOTAL RECALL
        div(class="header")
        img(src='/pic/anot.png')

      body
        div(class="body")
        p Select from the Recall List
        block content
       
