doctype 5
html
    head
        title #{title} - TOTAL RECALL
        link(rel='stylesheet', href='/stylesheets/stylesheet.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap-theme.min.css')
        script(src='/stylesheets/bootstrap/js/bootstrap.min.js')
   
    header
      h1 TOTAL RECALL
        div(class="header")
        block content
       
