doctype 5
html
    head
         title #{title} - TOTAL RECALL (TEMP)
        link(rel='stylesheet', href='/stylesheets/stylesheet.css')
        link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
   
    header
      h1 TOTAL RECALL (TEMP)
        div(class="header")
        block content
       
