extends layout
block content
	script
		$(function() {
			$('#licencebtn').addClass('active');
		});
	div(class="jumbotron aboutDiv", style="display: inline-block")
		h1 Licence
		p This website operates under the 
			a(href="http://data.gc.ca/eng/open-government-licence-canada") Open Government Licence
		p This website contains information licensed under the Open Government Licence – Canada.
		p Data used is from 
			a(href="http://data.gc.ca/") http://data.gc.ca/
		br
		h2 Credit
		p 
			a(href="http://www.devinlynch.ca") Devin Lynch
			, John Marsh, Gabe Tobian, Richard Ison
