/*////////*//*////////*//*////////*/
/* Standards *//*////////*//*/////*/
/*////////*//*////////*//*////////*/
body {
    font-family: sans-serif;
	background:#F59120;
	height:100%;
	width:100%;
}

p{
	margin: 0px;
}

a:link 
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif
	font-size: 13px;
	color: #1181ea;
	text-decoration:none;
}
a:visited
{
	color: #1181ea;
	text-decoration:none;
}
a:hover 
{
	color: #333;
}
a:active
{
	color: #00a6cf;
	text-decoration:underline;
}

/*////////*//*////////*//*////////*/
/* Main   *//*////////*//*////////*/
/*////////*//*////////*//*////////*/

.mainDiv{
	text-align: center;
	margin: 0px;
	width:100%;
}

.centeredInDiv{
	text-align: center;
	vertical-align: middle;
    display: table-cell;	
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:13px;
	cursor:default;
}

.email-input{
	width: 300px;
	display: inline-block;
}

.assertion-ass{
	width: 50px;
	display: inline-block;
	margin: 2px;
}

.confusedDiv{
	margin-top: 30px;
}

.aboutDiv{
	display: none;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #F59120;
}

.goBack{
	width: 70px;
	position: fixed;
	top: 50px;
	left: 10px;
}

.noTrackFoundDiv{
	height:30px;
}
.noTrackFoundP{
	display: none;
}

.mainSearch{
	padding-top:5%;
}

.trackDiv{
	display: none;
	background-color: white;
	width: 600px;
	height: 100%;
	box-shadow: 10px 10px 5px #000;
	border-radius:25px;
	padding-bottom: 20px;
}

.success{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}



/*////////*//*////////*//*////////*/
/* Footer *//*////////*//*////////*/
/*////////*//*////////*//*////////*/
.footer{
    position: relative;
	margin-top: -150px;
	height: 150px;
	clear:both;
	padding-top:20px;
	color:#fff;
}

/*////////*//*////////*//*////////*/
/* Header *//*////////*//*////////*/
/*////////*//*////////*//*////////*/
.leftTopBar{
	width:82%;
	margin: 0px;
	float:left;
}

.middleTopBar{
	width:56%;
	margin: 0px;
	float: left;
	text-align: left;
}

.rightTopBar{
	width:18%;
	margin-left:auto;
	text-align: center;
}

select#dataset-dropdown{
	width: 400px;
	display: inline-block;
}

.assertion-input{
	width: 300px;
	display: inline-block;
	margin: 2px;
}

.assertion-input-value{
	width: 150px;
	display: inline-block;
	margin: 2px;
}

.afterdataset{
	display: none;
}

.success{
	display: none;
}

.header{
    display: inline-block;
	width:100%;
	vertical-align: middle;
	background-color: #E0841B;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: default;
	height: 30px;
}

.navbtn{
	color: rgb(60, 58, 58) !important;
}

.logoTitle{
	margin:0px;
	padding: 0px;
	float: left;
}

.downImage{
	height:15px;
	margin-right: 3px;
	float: left;
	display: none;
}

.dropdown{
	width: 100px;
	height: 100px;
	margin-top: -20px;
	float: none;
	position: fixed;
	background-color: #E0841B;
	cursor: default;
	display: none;
}

.loadingImg{
	display: none;
	height: 20px;
	width: 20px;
	padding: 0px;
	margin-left: 4px;
	background-image: url('/public/images/ajax-loader-header.gif');
    webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover;
    background-size: cover;
	float: left;
}


/***********************
**
** Track Update
**
***********************/

.updateItem{
	background-color: #f3eeee;
	width: 600px;
	margin-bottom: 3px;
	text-align: left;
}

.updateItem p{
	display: inline;
}

.topTrackItemBar{
	background-color: #E3E3E3;
	width: 100%;
	height: 20px;
	font-size: 9pt;
	margin:0;
}

.topTrackItemBar .left{
	width:50%%;
	float: left;
	height:20px;
	line-height: 20px;
}

.topTrackItemBar .right{
	width:50%;
	float: left;
	text-align: right;
	height:20px;
	line-height: 20px;
}

.topTrackItemBar .left .trackNumber{
	margin-left: 4px;
}

.topTrackItemBar .right .trackDate{
	margin-right: 4px;
}

.innerUpdateItem{
	margin-bottom: 7px;
}

.updateItem .status{
	margin: 10px;	
}

.updateItem .actions{
	margin: 10px;
	font-size: 9pt;
}

.updateItem .innerUpdateItem .status{
	font-size: 11pt;

}

.updateItem .actions a{
	color: #000000;

}

.actionsContainter{
	width: 590px;
	height: 20px;
	margin-bottom: 0;
}

.actionsContainter .left{
	float:left;
	width:465px;
	height:20px;
	line-height: 20px;
}

.actionsContainter .right{
	float: left;
	width: 125px;
	height: 20px;
	text-align: right;
}

.actionButton{
	text-align: center;
	color: white;
	background-color: #54acc3;
	height: 20px;
	float: left;
	margin-right: 5px;
	cursor: default;
	line-height: 20px;
}

.commentButton{
	width: 65px;
}

.likeButton{
	width: 50px;
}

.updateItem .bottomSpacer{
	width:100%;
	height:1px;
}

/* changed to dusplay:none if user is not logged in */
.loggedInAction{
	display: none;
}
